body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3e8e41;
    padding: 35px 60px;
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 6px 12px;       /* Add padding inside the border */
    border: 1px solid rgb(190, 238, 94); /* Small white border */
    border-radius: 5px;       /* Rounded corners (optional) */
    transition: background 0.3s;
}

.nav-links li a:hover {
    background-color: white;
    color: #3e8e41;  /* Green text on hover */
}


.nav-links li a:hover {
    text-decoration: underline;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background-color: #f2f2f2;
}

.hero h1 {
    font-size: 40px;
    color: #333;
}

.hero p {
    font-size: 20px;
    margin: 20px 0;
}

.hero button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #062007;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hero button:hover {
    background-color: #367636;
}
.logo img {
    height: 55px;
    width: 55px;
    align-items:center;
    border-radius: 50%;   /* Makes it a perfect circle */
    object-fit: cover;    /* Keeps image content inside circle */
    border: 2px solid white; /* Optional: white border around logo */
    gap: 50px;
}